<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.2" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.2" targetFramework="net452" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.2" targetFramework="net452" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net452" />
  <package id="Microsoft.Identity.Model.Extensions" version="2.0.1459.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net452" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.2" targetFramework="net452" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.2" targetFramework="net452" />
</packages>